# TikTok LIVE Settings
TIKTOK_USERNAME=cristian

# Server Settings
PORT=3000

# Supabase Settings (Oracle Cloud or Supabase Cloud)
SUPABASE_URL=https://api-oracle.lukeapp.cl
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtaW1xbHlibXFpdm93c3NodGt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyOTEzNzEsImV4cCI6MjA4NDg2NzM3MX0.IaScUp4jmYwuX_0DXxv6RcPJTkJFlh0118w03nK_aqg
